body,html {
    padding:0px;
    margin:0px;
    width:100%;
    height:100%;
}

/*.logo {
    top: 0px;
    left: 0px;
    width: 82px;
    height: 88px;
    color: white;
}
*/
p {
  font-weight: bold;
  font-size: 30px;
  }
i {
    margin-top: 10px;
    vertical-align: bottom;
    font-size : 40px;
    
    }
.button {
  display: grid;
  grid-template-columns: (4, 1fr);
  grid-gap: 100px;
  grid-template-rows: repeat(2,100px)  ;
  color: white;     
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  vertical-align: center;
}

.button1 {
  border: none;
  border-radius: 5%;
  position: absolute;
  left: 24%;
  top: 68%;
  width: 297px;
  height: 121px;
  background-color: white; 
  color: #009BFF; 
  border: 2px solid #009BFF;
}
.button1:hover {
  background-color: #009bff;
  color: white;
}
.button2 {
  border: none;
  border-radius: 5%;
  position: absolute;
  left: 42%;
  top: 68%;
  width: 297px;
  height: 121px;
  background-color: white; 
  color: #E180C6; 
  border: 2px solid  #E180C6;
}
.button2:hover {
  background-color: #E180C6;
  color: white;
}
.button3 {
  border: none;
  border-radius: 5%;
  position: absolute;
  left: 60%;
  top: 68%;
  width: 297px;
  height: 121px;
  background-color: white; 
  color: #FF8A00; 
  border: 2px solid  #FF8A00;
}
.button3:hover {
  background-color: #FF8A00;
  color: white;
}
.button4 {
  border: none;
  border-radius: 5%;
  position: absolute;
  left: 78%;
  top: 68%;
  width: 297px;
  height: 121px;
  background-color: white; 
  color: #E44747; 
  border: 2px solid  #E44747;
}
.button4:hover {
  background-color: #E44747;
  color: white;
}
.button5 {
  border: none;
  border-radius: 5%;
  position: absolute;
  left: 24%;
  top: 82%;
  width: 297px;
  height: 121px;
  background-color: white; 
  color: #543EDD; 
  border: 2px solid  #543EDD;
}
.button5:hover {
  background-color: #543EDD;
  color: white;
}
.button6 {
  border: none;
  border-radius: 5%;
  position: absolute;
  left: 42%;
  top: 82%;
  width: 297px;
  height: 121px;
  background-color: white; 
  color: #047501; 
  border: 2px solid  #047501;
}
.button6:hover {
  background-color: #047501;
  color: white;
}
.button7 {
  border: none;
  border-radius: 5%;
  position: absolute;
  left: 60%;
  top: 82%;
  width: 297px;
  height: 121px;
  background-color: white; 
  color: #D9A902; 
  border: 2px solid  #D9A902;
}
.button7:hover {
  background-color: #D9A902;
  color: white;
}
.button8 {
  border: none;
  border-radius: 5%;
  position: absolute;
  left: 78%;
  top: 82%;
  width: 297px;
  height: 121px;
  background-color: white; 
  color: #000000; 
  border: 2px solid  #000000;
}
.button8:hover {
  background-color: #000000;
  color: white;
}
.sidenav {
  height:100%; /* 100% Full-height */
  width: 300px; /* 0 width - change this with JavaScript */
  position: absolute; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #9A6463; /* Black*/
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: repeat(9,50px);
  column-gap: 5px;
  }
.sidenav i {
  grid-area: 1 auto;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  transition: 0.3s;
}
.sidenav a {
  grid-area: 2 auto;
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
  visibility: visible;
}