* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #EFEDEB;
    color: white;
}
main {
    margin: 6vw 6vw 6vw 12vw;
}
main :nth-child(1) {
    width: 90%;
}
section {
    display: flex;
    justify-content: space-between;
}
.carte {
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    column-gap: 2vw;
    background: #9A6463;
    width: 50vw;
    height: 30vw;
    margin: auto;
    padding: 2vw;
    border-radius: 10px;
    box-shadow: 0 4px 32px 26px rgba(0, 0, 0, 0.20);
    grid-template-areas: 
    "icone nom"
    "logo activites";
}
.icone-photo {
    grid-area: icone;
    text-align: center;
    padding: 0 1vw 3vw 1vw;
}
svg {
    width: 90%;
}
.coordonnees {
    grid-area: nom;
    font-size: 1.5vw;
    padding-top: 1.2vw
}
.logo {
    grid-area: logo;
    text-align: center;
    color: black;
    font-size: 1.3vw;
}
img{
    width: 90%;
}
.activites {
    grid-area: activites;
    border: 1px solid white;
}
h1 {
    font-size: 3vw;
    margin: 0 0 4vw 10vw;
    color: black;
}
#btn-imprimer {
    border-radius: 10px;
    border-style: none;
    width: 10vw;
    height: 2vw;
    background: #009BFF;
    color: white;
    font-weight: bold;
    font-size: 0.9vw;
}
h2 {
    margin: 0.5vw;
    font-size: 1.5vw;
}