body {
    background-image: linear-gradient(246.39deg, rgba(255, 255, 255, 0.9) 0.79%, rgba(152, 160, 172, 0.9) 97.56%), url(../img/fondinscription.png);
    background-size: cover;
}
.carte {
    width: 40%;
    height :90%;
    background-color: #FF4C4C;
    border-radius: 2em;
    margin-top: 3%;
    margin-left: 30%;
}
h1 {
    font-size: 2em;
    color: white;
    text-align: center;
}
.logo {
   text-align: center;
}
.icone {
    margin-left:40% ;
 }
 p {
    color: white;
    font-size: 2em;
    margin-left: 10%;

 }
 input{
    color: white;
    border: 0;
    border-radius: 1em;
    font-size: 1vw;
    width: 90%;
    height: 3vw;
    
}
.retour {
    font-size: 2em;
    width: 35%;
    text-align: center;
    cursor: pointer;
    border-radius: 1em;
    background-color: #504f4f; 
    color: #ffffff; 
    border: 2px solid #000000;
    margin-left: 2em;
    margin-top: 5%;
}
.inscrire {
    font-size: 2em;
    width: 35%;
    text-align: center;
    cursor: pointer;
    border-radius: 1em;
    background-color: #B93737; 
    color: #ffffff; 
    border: 2px solid #000000;
    margin-left: 2em;
    margin-top: 5%;
}
