* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #EFEDEB;
    color: white;
}
main {
    
}
#btn-nouveau {
    border-radius: 10px;
    border-style: none;
    width: 10vw;
    height: 2vw;
    background: #009BFF;
    color: white;
    font-weight: bold;
    font-size: 0.9vw;
}
