html,body {
  margin: 0;
}

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  padding-bottom: 30px;
  text-align: center;
  vertical-align: middle;
  font-size:20px;
}
    
.main-menu:hover,aside.main-menu.expanded {
  width:250px;
  overflow:visible;
}
  
.main-menu {
  background:rgba(154, 100, 99, 1);
  border-right:1px solid #e5e5e5;
  position:fixed;
  top:0;
  left:0;;
  height:85vh;
  padding-top: 10vh;
  margin-top: 5vh;
  width:60px;
  overflow:hidden;
  transition:width .05s linear;
  transition:width .05s linear;
  transform:translateZ(0) scale(1,1);
  z-index:1000;
  border: none;
}
  
.main-menu>ul {
  margin:7px 0;
}
  
.main-menu li {
  position:relative;
  display:block;
  width:250px;
}
  
.main-menu li>a {
  position:relative;
  display:table;
  border-collapse:collapse;
  border-spacing:0;
  color:white;
  font-family: arial;
  font-size: 14px;
  text-decoration:none;
  transform:translateZ(0) scale(1,1);
  /* transition:all .1s linear; */
  /* transition:all .1s linear;   */
}
  
.main-menu .aside-icon {
  position:relative;
  display:table-cell;
  width:60px;
  height:60px;
  text-align:center;
  vertical-align:middle;
  font-size:20px;
}
  
.main-menu .aside-text {
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width:190px;
  padding-bottom: 30px;
  font-family: 'roboto';
  font-size:20px;
}

.no-touch .scrollable.hover {
  overflow-y:hidden;
}
  
.no-touch .scrollable.hover:hover {
  overflow-y:auto;
  overflow:visible;
}
  
a:hover,a:focus {
  text-decoration:none;
}
  
aside {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}
  
aside ul,aside li {
  outline:0;
  margin:0;
  padding:0;
}

nav {
  position : fixed;
  display: grid;
  top:0;
  height : 5vh;
  width: 100vw;
  background:rgba(154, 100, 99, 1);
  padding-left: 65px;  
  grid-template-columns: 250px 25px 3fr 1fr 1fr;
  grid-template-areas: 
  "input submit logo admin logout"
}

.top-menu {
  border-radius: 30px 0 0 30px;
  width: 250px;
  height: 20px;
  border: none;
  grid-area : input;
  align-self: center;
  outline: none;
  text-align: center;
}

.top-menu-button {
  border-radius: 0 30px 30px 0;
  width: 25px;
  height : 20px;
  border: none;
  background-color: lightslategrey;
  grid-area :submit;
  align-self: center;
}

.admin {
  height: 5vh;
  grid-area : admin;
}

.logout {
  width: fit-content;
  grid-area : logout;
  align-self: center;
  justify-self: center
}

.fas {
color : white;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: rgba(154, 100, 99, 1);
  height : 5vh;
  color: white;
  font-family: 'roboto';
}

.lien-tableau:hover {
  color:rgba(255, 255, 255, 255);
}

.lien-adherents:hover {
  color:rgba(0, 155, 255, 1);
}

.lien-partenaires:hover {
  color:rgba(225, 128, 198, 1);
}

.lien-activites:hover {
  color : rgba(255, 138, 0, 1);
}

.lien-evenements:hover {
  color :rgba(255, 76, 76, 1);
}

.lien-newsletter:hover {
  color :rgba(84, 62, 221, 1);
}

.lien-statistiques:hover {
  color :rgba(217, 169, 2, 1);
}

.lien-import:hover {
  color :rgba(4, 117, 1, 1);
}

.lien-permissions:hover {
  color :rgba(73, 73, 73, 1);
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------*/




